@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #a7c9ae;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.puzzle-container {
  width: 390px;
  height: 390px;
  position: relative;
  background: #7ba383;
  border-radius: 5px;
  box-shadow: 0 0 0 20px #7ba383;
}

.puzzle-container .tile {
  position: absolute;
  width: 90px;
  height: 90px;
  background: #ffffa5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}
.tile.empty {
  background: rgba(0, 0, 0, 0.1);
}
.puzzle-container .tile:hover {
  background: #fff;
}
.tile.empty,
.tile.empty:hover {
  background: rgba(0, 0, 0, 0.1);
}
#shuffle-btn {
  position: relative;
  top: 50px;
  display: block;
  padding: 20px 20px;
  font-size: 1.5em;
  line-height: 0.5em;
  cursor: pointer;
  background: #ffffa5;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
#shuffle-btn:active {
  background: #7ba383;
  color: #fff;
}
#message {
  text-align: center;
  font-size: 1.5em;
  color: #333;
  margin-top: 70px;
}
